<div class="flex flex-col items-center justify-center p-8">
  <div class="relative">
    <div
      class="animate-spin rounded-full h-16 w-16 border-4 border-gray-200 border-t-indigo-600"
    ></div>

    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <i class="fas fa-paw text-indigo-600 text-sm md:text-base opacity-80"></i>
    </div>
  </div>

  <p class="mt-4 text-gray-600 font-inter text-sm font-medium">
    Cargando<span class="animate-pulse">...</span>
  </p>
</div>
